

# Data Science Tools and Ecosystem

## Author
Priya Nayak

In this notebook, Data Science Tools and Eco systems are summarized.

**Objectives:**
- List the popular languages used in data science
- List examples of libraries used in data science
- List examples of open source tools used in data science
- Introduction to simple arithmetic expressions in Python

#### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

#### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. TensorFlow
4. NumPy

#### Below is a table listing some examples of  development environment open source tools:

| *Data Science Tools* |
|----------------------|
|Jupyter Notebook|
|RStudio|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
#This is a simple arithmetic expression to multiply and then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335